{% extends "layout.html" %}

{% block js %}<script src="{{ url_for('static', filename='channel.js')}}"></script>{% endblock %}

{% block title %}{{channel}}{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1>Welcome to the <span id="channel">{{channel}}</span> Channel!</h1>
</div>


<div class="bg-info container message-container" style="height: 600px; overflow-y: scroll;">
    {% for message in messages %}
        <p>{{message.user}}: {{message.message}}<span class="msgSpan">{{message.timestamp}}</span></p>
    {% endfor %}
</div>

<!-- Message sending should be fixed at the bottom -->
<div class="row justify-content-center">
<div class="mt-4">
    New message:
    <input type="text" name="message">
    <button>Send Message</button>
</div>
</div>
{% endblock %}
