{% extends "layout.html" %}

{% block title %}{{channel}}{% endblock %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', main);

    function main() {
        const channel = document.querySelector('#channel').innerHTML;
        // Redirect if no chosen user
        if (!localStorage.getItem('user')) {
            location.replace("index.html");
        }

        // Connect to websocket
        let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // When connected, configure buttons
        socket.on('connect', () => {
            // Each button should emit a "submit vote" event
            document.querySelectorAll('button').forEach(button => {
                button.onclick = () => {
                    // Parse message
                    const message = document.querySelector("input[name='message']").value;
                    const date = new Date();
                    const jsonMsg = {
                        "message": message,
                        "timestamp": date.toUTCString(),
                        "user": localStorage.getItem('user'),
                        "channel": channel
                    };

                    // Send message to server
                    socket.emit('submit message', jsonMsg);
                };
            });
        });

        // Display sent message from any user in channel 
        socket.on('new message', data => {
            const message =  data.message;
            const timestamp = data.timestamp;
            const user = data.user;
            
            const toAdd = document.createElement('p');
            const text = document.createTextNode(user +": " + message);
            const dateSpan = document.createElement('span');
            const dateText = document.createTextNode(timestamp);
            
            dateSpan.classList.add('msgSpan');
            toAdd.appendChild(text);
            dateSpan.appendChild(dateText);
            toAdd.appendChild(dateSpan);
        
            // Add message to Dom
            document.querySelector('.message-container').appendChild(toAdd);
        });


        // Remember the closed window
        window.addEventListener('unload', function () {
            window.localStorage.setItem('channel', channel)
        });
   }
</script>


<div class="container">
<div class="row">
    <h1>Welcome to the <span id="channel">{{channel}}</span> Channel!</h1>
</div>


<div class="bg-info container message-container" style="height: 600px; overflow-y: scroll;">
    {% for message in messages %}
        <p>{{message.user}}: {{message.message}}<span class="msgSpan">{{message.timestamp}}</span></p>
    {% endfor %}
</div>

<!-- Message sending should be fixed at the bottom -->
<div class="row justify-content-center">
<div class="mt-4">
    New message: 
    <input type="text" name="message">
    <button>Send Message</button>
</div>
</div>
{% endblock %}
