{% extends "layout.html" %}

{% block js %}<script src="{{ url_for('static', filename='index.js')}}"></script>{% endblock %}

{% block title %}Flack{% endblock %}

{% block body %}
<div class="container">
    <div class="disappear" name="withUser">
    <div class="row float-right">
        <p id="name"></p>
    </div>


    <h1 class="mt-3">Channels</h1>
    <div class="row justify-content-center">
        <p>Refresh site to check if new channels have been added!</p>
    </div>
    <div class="row">
        <ul id="channel-list">
        {% for channel in channels %}
        <li><a href="/channel/{{channel}}">{{channel}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="row float-right">
        <form id="channel-form">
            <input type="text" autocomplete="off" name="channel">
            <input type="submit" value="Create channel">
        </form>
    </div>

    </div>

    <div class="" name="getUser">
    <div class="row justify-content-center mt-3">
        <label>Display name:
            <input type="text" name="user"></input>
            <button id="user">Submit</button>
        </label>
    </div>
    </div>
</div>

{% endblock %}
